button {
  float: left;
  width: 205px;
}

input {
  float: left;
  width: 150px;
  height: 22px;
  margin: 14px 10px 10px 25px;
  /* margin-top: 16px;
    margin-left: 5px; */
}

div {
  clear: both;
}

.styled-button {
  margin: 10px;
  padding: 10px 50px;
  box-shadow: 0px 5px 10px 2px gray;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 10pt;
  color: #095e5e;
}
