.blueBackground {
  background-color: #2ba5b3;
}

.greenBackground {
  background-color: #9beb9b;
}

.salmonBackground {
  background-color: #f08a74fc;
}

.goldenrodBackground {
  background-color: #f8c860;
}

.orchidBackground {
  background-color: #df66f5;
}

.normalBackground {
  background-color: #b9d0d0;
}

.styled-button {
  margin: 15px;
  padding: 10px 50px;
  box-shadow: 0px 5px 10px 2px gray;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 10pt;
  color: #095e5e;
}

.styled-button:hover {
  background-color: #b9eeb9;
  color: #ffffff;
}

.styled-button:active {
  background-color: #b9eeb9;
  color: #f8d36d;
}

#form-section {
  margin-top: 10px;
}
