header {
  background-color: #05b39b;
  padding: 20px;
  text-align: center;
}

header p {
  font-weight: bold;
  color: blue;
}

main {
  background-color: #c4f3ee;
  padding: 20px;
}

#welcome {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #fff8e9;
  font-weight: bold;
}

a:visited {
  color: #5a9a7a;
}

a:hover {
  color: #6dd6f0;
}

nav {
  background-color: #f08a74fc;
  padding: 20px;
  text-align: center;
  line-height: 35px;
}

nav ul {
  list-style-type: none;
  font-weight: bold;
  color: #d4d3d3;
}

nav li {
  display: inline;
  margin-left: 10px;
}

footer {
  background-color: #148c65;
  text-align: center;
  padding: 20px;
}

body {
  background-color: #045449;
  margin: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: #cdf8f9;
  font-size: 25px;
}

h2 {
  color: #384679;
  font-size: 20px;
}

.byline {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #384679;
}

#special-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#style-switcher {
  margin: 10px;
}

figure {
  background-color: lightslategray;
  border: black solid thin;
  padding: 5px;
  float: left;
}

section.clear {
  clear: both;
}

div {
  clear: both;
}

aside {
  background-color: #f9b6a7fc;
  border: #008080 1px solid;
  border-radius: 5px;
  float: right;
  font-style: italic;
  margin: 25px 15px 5px 5px;
  padding: 15px;
  width: 130px;
}

#switchStylesAction {
  margin: 20px;
  padding: 10px 50px;
  box-shadow: 0px 5px 10px 2px gray;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 10pt;
  color: #095e5e;
  background-color: #ebe9e9;
}

#switchStylesAction:hover {
  background-color: #b9eeb9;
  color: #ffffff;
}

#switchStylesAction:active {
  background-color: #b9eeb9;
  color: #f8d36d;
}
